{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Volume Salon POS{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'salon/css/custom.css' %}">
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

{% block jumbotron %}
<div class="jumbotron">
  <div class="container text-center">
    <h1>{{ heading }}</h1>
    <p>{{ mission }}</p>
  </div>
</div>
{% endblock %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a>Home</a></li>
        <li><a>POS</a></li>
        <li><a>Clients</a></li>
        <li><a>Login</a></li>
      </ul>
    </div>



<footer class="container-fluid text-center">
  <p>Volume Salon Copyright &copy; 2017</p>
</footer>

</body>
</html>
