{% extends 'salon/base.html' %}


{% block content %}
<div class="spacer"></div>
<h3>  Danielle's Clients</h3>

    <table style="width:95%">
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Notes</th>
        </tr>
        {% for client in all_clients %}
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.phone_number }}</td>
                <td>{{ client.notes }}</td>
            </tr>
        {% endfor %}
        <div class="container">
          <form action="/clients/" method="GET">
            <div class='row'>
              <h4>Add new client</h4>
              <div class='col-xs-2'><input type='text' class='form-control' name='cname' placeholder='Client Name' required/></div>
              <div class='col-xs-2'><input type='text' class='form-control' name='cphone' placeholder='Phone Number' required/></div>
              <div class='col-xs-4'><input type='text' class='form-control' name='cnotes' placeholder='Notes' required/></div>
              <div class='col-xs-2'><input type="submit" class='btn' value='Add new client'/></div>
            </div>
          </form>
          <div class="row">
          <br>
    </table>
</div>
<ul>



{% endblock %}
